<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>327109997105-t0rv3lou4mjr28ciejhr1i8s0je63t7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327109997105-t0rv3lou4mjr28ciejhr1i8s0je63t7r</string>
	<key>API_KEY</key>
	<string>AIzaSyCIc1MYWBEP_RSM14l9isJOD2sHqrlflwA</string>
	<key>GCM_SENDER_ID</key>
	<string>327109997105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toptal.trip</string>
	<key>PROJECT_ID</key>
	<string>trip-b003c</string>
	<key>STORAGE_BUCKET</key>
	<string>trip-b003c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327109997105:ios:bafca92b942e8b78</string>
	<key>DATABASE_URL</key>
	<string>https://trip-b003c.firebaseio.com</string>
</dict>
</plist>